header {
    background-color: #111; 
    height: 80%;

            }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {

 .hero 
  
    
background-color: blueviolet;
display: flex;

}
