
header {
  background-color: #111;
  padding: 10px 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}